
libroyale-1.0.5.40-APPLE-64Bit/samples/cloud_viewer/cloud_viewer.build/**
libroyale-1.0.5.40-APPLE-64Bit/samples/**/*.xcodeproj/**
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt


**/Debug

**/*.build

**/*.xcodeproj


*.pcd


libroyale-1.0.5.40-APPLE-64Bit/samples/data_*/**

libroyale-1.0.5.40-APPLE-64Bit/samples/scanner/Release/**

libroyale-1.0.5.40-APPLE-64Bit/samples/processing/Release/**

libroyale-1.0.5.40-APPLE-64Bit/samples/data/**
